# cartella build locale
build/
out/

# file temporanei LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.bbl
*.blg
principali-comandi.pdf
template-vuoto.pdf
dispense-latex.pdf

# roba di macOS
.DS_Store